@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Josefin+Sans:wght@300;700&family=Neucha&family=Poppins:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Neucha', cursive;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}